name: Build Spring Boot JAR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build with Maven
        run: mvn -B -e -X clean package

      - name: Upload Built JAR
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-jar
          path: target/*.jar
